<div class="sidebar">
  <ul>
    <!-- <li class="<%= currentPage === 'dashboard' ? 'active' : '' %>">
      <a href="<%= prefixAdmin %>/dashboard">Dashboard</a>
    </li> -->
    <li class="<%= currentPage === 'users' ? 'active' : '' %>">
      <a href="<%= prefixAdmin %>/users">Quản lý người dùng</a>
    </li>
    <li class="<%= currentPage === 'appointments' ? 'active' : '' %>">
      <a href="<%= prefixAdmin %>/appointments">Quản lý cuộc hẹn</a>
    </li>
    <li class="<%= currentPage === 'logout' ? 'active' : '' %>">
      <a href="<%= prefixAdmin %>/logout">Đăng xuất</a>
    </li>
    <!-- Add more sidebar items as needed -->
  </ul>
</div>
